:root {
  --activeLinkBg: #F7F7F8;
  --activeLinkText: #262626;

  --noActiveLinkText: #656567;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: calc(100% - 20px);
}